@import url('https://fonts.googleapis.com/css?family=Cinzel');

/*
@font-face{
  font-family: Cinzel;
  src:url(/fonts/Cinzel-regular.ttf);
 }
*/

html *
{
   
   font-family: Cinzel !important;
}

header{

  position: absolute;
  margin-top: : 1em;
  z-index:10;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 1em;
}

nav a{
  font-weight: 900;
  text-decoration: none;
  font-size:.8rem;
  padding: .5em;
  color:#fff;
}

a:hover { 
    background-color: #000;
      opacity: 0.1;


}

.top-buffer { margin-bottom:20px; }


#navbarMenu .navbar-nav > li > a{
color:#fff;
}

.container_contact{
  padding-top:100px;
  z-index: 10;
}

.rowskills{
  text-align:center;
  padding-bottom: 50px;
 
  
}

.row_portfolio{
  display:inline-block;
  float:center;
  max-width:auto; 
  margin: 30px auto;
 
}

.imgborder{
  border-width: 5px;
  border-radius: 50%;
}


body{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:Cinzel, sans-serif;
  font-weight:400;
  line-height:1.8em;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  
  background-attachment:fixed;
}

.pimg1{
background-image:url(../images/firstPic.jpg);
  min-height:800px;
}

.pimg2{
background-image:url(../images/secondPic.jpg);
min-height: 300px;
}

.pimg3{
background-image:url(../images/thirdPic.jpg);
  min-height:300px;
}

.section{
  text-align:center;
  margin: 0;
  padding: 1px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
  padding-top:50px; background-color: #fff; max-width:90%; margin: 20px auto;
   
}

.section-dark{
  background-color:#7f7b79;
  color:#fff;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:30px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:transparent;
  color:#fff;
  padding:20px;
  border-collapse: collapse;

  
}

.border{
  max-width: 7  00px;
  display: inline-block;
  box-sizing: border-box;
 /* word-wrap: break-word;*/
  /*overflow: auto;*/

}


/*****************************************************************************************/
@media(max-width:1024px){
  .pimg1, .pimg2, .pimg3{
  background-attachment:scroll;
  }
}

@media screen and (min-width: 768px){
            .rwd-break { display: none; }
             
        }

/*
@media only screen and (max-width:800px) { 
.border {
      display: none;

}
*/
